$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-large: 1024px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);

    header {
        padding: 1em 2em;
        text-align: center;
        font-size: 1.5rem;
        box-shadow: 0px 0px 10px 0px rgba(209, 207, 209, 1);
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        padding: 3em 6em;

        @media screen and (max-width: $breakpoint-phone) {
            flex-direction: column;
            padding: 2.5em 2em;
        }

        @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-large) {
            padding: 2.5em 2em;
        }

        input {
            appearance: none;
            outline: none;
            border: none;
            box-shadow: 0px 0px 10px 0px rgba(209, 207, 209, 1);
            width: 50vh;
            padding: 1em 2em;
            font-size: 1rem;

            @media screen and (max-width: $breakpoint-phone) {
                width: 100%;
                margin-bottom: 1em;
            }

            @media screen and (min-width: $breakpoint-tablet) {
               margin-bottom: 0;
               justify-content: start;
            }
        }

        .select {
            position: relative;
            overflow: hidden;
            box-shadow: 0px 0px 10px 0px rgba(209, 207, 209, 1);

            &:after {
                content: "\25BC";
                position: absolute;
                top: 0;
                right: 0;
                padding: 1em;
                pointer-events: none;
                transition: all .3s ease;
            }

            select {
                appearance: none;
                outline: none;
                border: none;
                width: 20vh;
                cursor: pointer;
                padding: 1em 2em;
                font-size: 1rem;

                @media screen and (max-width: $breakpoint-tablet) {
                    width: 100%;
                }
            }
        }

    }

    .grid-container {
        padding: 0em 6em 0 6em;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        @media screen and (max-width: $breakpoint-tablet) {
            padding: 0 2em;
        }

        .box {
            box-shadow: 0px 0px 10px 0px rgba(209, 207, 209, 1);

            img {
                width: 100%;
                height: 200px;
                border-radius: 5px 5px 0 0;
                object-fit: cover;
            }

            .info {
                padding: 1em;

                h3 {
                    font-weight: bold;
                    font-size: 1.75rem;
                    padding-bottom: .75rem;
                }

                p {
                    font-size: 1.25rem;
                    padding-bottom: .5em;
                }

            }
        }
    }

}